<!DOCTYPE html>
<html>
  <div class="container-fluid">
    <head>
      {% include 'bootstrap.html' %}
      <style>
        #anupam {
          height: 350px;
          max-width: 100%;
          object-fit: cover;
          margin: 0 auto 16px;
          display: block;
        }

        #german {
          text-align: center;
        }
      </style>
    </head>
  </div>

  <body>
    {% include 'header.html' %}
    <div>
      <h2 style="text-align: center">
        My Portfolio
      </h2>
    </div>

    <div>
      <img src="/static/nature.jpg" alt="Nature" id="anupam">
    </div>

    <div id="german">
      <h4 style="text-align: center">
        About
      </h4>
      <p style="text-align: center">
        <b>
          Hi, I am Arindam Mukherjee, an Embedded Software Engineer, currently working with the R&amp;D team at Skilancer Solar.
        </b>
      </p>
    </div>
    <div>
      <h4 style="text-align:center"> Projects </h4>
      {% for project in projects %}
        {% include 'project_list.html' %}
      {% endfor %}
    </div>
    {% include 'footer2.html' %}
  </body>
</html>
