<!DOCTYPE html>
<html>
  <head>
    {%include 'bootstrap.html' %}
    <style>
  #anupam {
  height: 350px;
  width: 600px;
  object-fit: cover;
  margin: 0 auto 16px;
  display: block;
}
    #german {
      text-align : center;
    }

  
</style>
  </head>
  <body>
    <div>
      <h2 style="text-align : center">
      My Portfolio
    </h2>
    </div>
    <div>
      <img src="/static/nature.jpg" alt="Nature" class="center", id="anupam">
    </div>
    <p id="german">
      <h4 style="text-align:center">
        About
      </h4>
      <p>
        Hi , I am Arindam Mukherjee, an Embedded Software Enginner, currently working with a R&D team at Skilancer Solar.
      </p>
    </p>
  </body>
</html>


